<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd">
	<!-- spring可以自动去扫描 base-pack 下的包或者包下的java文件 -->
	<context:component-scan base-package="com.xiaofeixia.sj.controller"></context:component-scan>
	<context:component-scan base-package="com.xiaofeixia.lc.controller"></context:component-scan>
	
	
	<!-- 格式化 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	<!-- 使用默认的Servlet来响应静态文件 -->
	<mvc:default-servlet-handler />
	<!-- 定义Spring MVC的拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/*" /> <!-- 自定义判断用户权限的拦截类 -->
			<bean class="com.ecanal_mail.interceptor.Interceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	<!-- 跨域 -->
	<mvc:cors>
		<mvc:mapping path="/**" />
	</mvc:cors>
	<!-- 视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 前缀 -->
		<property name="prefix">
			<value>/WEB-INF/jsp</value>
		</property>
		<!-- 后缀 -->
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	
	<!-- 定义文件解释器 -->
	<!--<bean id="multipartResolver" class="com.maven.multipartResolver.CommMultipartResolver"> -->
		<!-- 设置默认编码 -->
		<!--<property name="defaultEncoding" value="utf-8"></property>-->
	<!--</bean>-->
	<task:annotation-driven /> <!-- 定时器开关-->  
    <!-- 自动扫描的包名 -->    
    <context:component-scan base-package="com.maven.task" /> 
</beans>

